.DS_Store
*__pycache__

# testing
backend/.coverage
coverage.json

# virtual environment
backend/.venv

# placeholer program
backend/src/program.py

# executor in place of execute function
backend/executor.py

# generated dataframe files for testing
backend/gen-dataframe/generated*

# Local Netlify folder
.netlify
