.customButton {
    font-size: 10pt;
    border: solid;
    border-width: 1pt;
    border-radius: 0;
    cursor: pointer;
}

button.customButton:hover {
    background-color: aqua;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

.tabSelector {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.largeText {
    font-size: 16pt;
}

.transitionContainer {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 2%;
}
