.evalBox {
    width: 70%;
    height: 5vh;
    border: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fontSize {
    font-size: 14pt;
}
