.headingFont {
    font-size: 16pt;
}

.evalBox {
    width: 85%;
    height: 5vh;
    border: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    font-family: monospace;
}
