.loadingBox {
    height: max(80%, 400px);
    width: max(60%, 400px);
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: black;
}
