.largeText {
    font-size: 16pt;
}

.container {
    display : flex;
    flex-direction : column;
    align-items : center;
    width: 90%;
}

.traceBox {
    display: grid;
    grid-template-columns: 65% 25%;
    height: 80%;
}

.traceBox span {
    margin-top: 2pt;
    margin-bottom: 2pt;
    line-height: 14pt;
}

.codeBox {
    display: grid;
    grid-template-columns: 40px 300px;
    font-family: monospace; 
    font-size: 14pt;
}

.preserveSpace {
    white-space: pre;
}
