.largeText {
    font-size: 16pt;
}

.container {
    display : flex;
    flex-direction : column;
    align-items : center;
    width: 80%;
}

.codeBox {
    display: grid;
    grid-template-columns: 30px 400px;
    font-family: monospace; 
    font-size: 12pt;
}

.traceBox {
    display: grid;
    grid-template-columns: 65% 25%;
}

.preserveSpace {
    white-space: pre;
}
