.variableBox {
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.variableBox h2 {
    font-size: 16pt;
}

.vars {
    width: 85%;
    align-items: normal;
    display: grid;
    min-height: 50px;
    grid-template-columns: 25% 5% 70%;
    column-gap: 2%;
    font-family: monospace;
    font-size: 14pt;
    border: solid;
    border-width: 2px;
}

.highlight {
    color: dodgerblue;
}

.varName {
    text-align : right;
}

.barrier {
    text-align: center;
}
