.container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fontSize {
    font-size: 12pt;
}

.variableBox {
    resize: none;
    width: 60%;
    height: 60%;
}
