.App {
  width: 100vw;
  height: 100vh;
  margin-top: 2.5vh;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: red;
}

.outputs {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 5%;
  justify-content: flex-start;
  align-items: center;
}
