.App {
  display: grid;
  grid-template-rows: 5% 95%;
  grid-template-columns: 100%;
  row-gap: 2.5%;
  width: 100vw;
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
  justify-items: center;
}

.outputs {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 5%;
  justify-content: flex-start;
  align-items: center;
}
