.App {
  height: 100vh;
  width: 100vw;
  margin-top: 2.5vh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 75%;
}

.outputs {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 5%;
  justify-content: flex-start;
}
