name: Backend Linting

on:
  pull_request:
    branches:
      - main
    paths:
      - "backend/**"

jobs:
  coverage-badge:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run linting
        run: |
          ./pep8-lint -c
