name: Backend Pull Request Checks

on:
  pull_request:
    branches:
      - main
    paths:
      - "backend/**"

jobs:
  run-checks:
    name: "Check test coverage is still 100% and no linting errors"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Set up dependencies
        run: ./setup

      - name: Run tests with coverage
        run: |
          ./cov -o # run coverage without running execute tests
          python3 -c "import json; import sys; cov=json.load(open('coverage/coverage.json'))['totals']['percent_covered']; sys.exit(0 if abs(cov - 100.0) < 0.001 else 1)" || exit 1

      - name: Check linting
        run: ./pep8-lint -c
