name: Generate and Publish Coverage Badge

on:
  pull_request:
    branches:
      - main
    paths:
      - "backend/**"
      - ".github/workflows/coverage-badge.yml"
      - README.md

jobs:
  coverage-badge:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests with coverage
        run: |
          ./cov -o # run coverage without running execute tests

      - name: Extract coverage percent
        id: extract
        run: |
          percent="$(python3 -c "import json; d=json.load(open('coverage.json')); print(d['totals']['percent_covered'])")"
          printf 'percent=%.2f\n' $percent >> $GITHUB_OUTPUT

      - name: Generate badge
        run: python3 badge.py ${{ steps.extract.outputs.percent }}

      - name: Copy badge to docs (Pages directory)
        run: |
          cp coverage-badge.svg ../docs/coverage-badge.svg
          # htmlcov will have a .gitignore by default
          [ -f htmlcov/.gitignore ] && rm htmlcov/.gitignore
          cp -r htmlcov ../docs/htmlcov

      - name: Commit and push badge to docs
        run: |
          # checkout to the src branch of the pull request
          git checkout ${{ github.head_ref || github.ref_name }}
          git config --global user.email "actions@github.com"
          git config --global user.name "github-actions"
          cd ..
          git add docs/{coverage-badge.svg,htmlcov}
          # avoid failing if there's no change
          git commit -m "update coverage badge [skip ci] and report" || exit 0
          git push
